<div class="header-content">
    <a routerLink="" class="logo">
        <img src="images/logo.svg" alt="">
    </a>
    <div class="user-controls">
        <button>
            <mat-icon>notifications</mat-icon>
        </button>

        <a routerLink="" class="user-info">
            <div class="user-details">
                <span class="user-name">{{ user_name }}</span>
                <span class="user-role">{{ user_role }}</span>
            </div>
            <div class="user-pic">
                <img src="{{ user_pic }}" alt="">
            </div>
        </a>
    </div>
</div>