:root {
    --night: #0C0F0A;
    --bg: #FBFBFB;
    --btn-green: #A7D14D;
    --main-green: #84BC0D;
    --white: #FFFFFF;
    --stroke: #818181;

    --p-size: 14px;
    --nav-op-size: 14px;
    --title-sec-size: 36px;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--night);
}

body {
    background-color: var(--bg);
    font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 1024px) {
    :root {
        --p-size: 20px;
        --nav-op-size: 16px;
        --title-sec-size: 48px;
    }
}