<div class="sidebar-container">
    <nav>
        <ul class="nav-list">
            <li class="nav-item">
                <a routerLink="/app/dashboard">
                    <mat-icon fontSet="material-icons-round">home</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/app/animals">
                    <mat-icon>pets</mat-icon>
                </a>
            </li>
            <li class="nav-item subnav-btn" [class.active]="isSubnavOpen">
                <button type="button" (click)="toggleSubnav($event)">
                    <mat-icon fontSet="material-symbols-outlined">assignment</mat-icon>
                </button>
                <ul class="subnav-list" [class.active]="isSubnavOpen">
                    <li class="subnav-item">
                        <a routerLink="/app/reports/clinical" (click)="closeSubnav()">
                            <span>Clínico</span>
                            <mat-icon fontSet="material-symbols-outlined">health_cross</mat-icon>
                        </a>
                    </li>
                    <li class="subnav-item">
                        <a routerLink="/app/reports/behavioral" (click)="closeSubnav()">
                            <span>Conductual</span>
                            <mat-icon fontSet="material-symbols-outlined">target</mat-icon>
                        </a>
                    </li>
                    <li class="subnav-item">
                        <a routerLink="/app/reports/dietary" (click)="closeSubnav()">
                            <span>Alimenticio</span>
                            <mat-icon fontSet="material-symbols-outlined">pet_supplies</mat-icon>
                        </a>
                    </li>
                    <li class="subnav-item">
                        <a routerLink="/app/reports/death" (click)="closeSubnav()">
                            <span>Defunción</span>
                            <mat-icon fontSet="material-symbols-outlined">skull</mat-icon>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a routerLink="/app/removals">
                    <mat-icon>inventory_2</mat-icon>
                </a>
            </li>
            <li class="nav-item logout">
                <button type="button" (click)="onLogout()">
                    <mat-icon>logout</mat-icon>
                </button>
            </li>
        </ul>
    </nav>
</div>