<div class="sidebar-container">
    <nav>
        <ul class="nav-list">
            <li class="nav-item">
                <a routerLink="">
                    <mat-icon fontSet="material-icons-round">home</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="animals">
                    <mat-icon>pets</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="register">
                    <mat-icon fontSet="material-symbols-outlined">assignment</mat-icon>   
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="">
                    <mat-icon>inventory_2</mat-icon>
                </a>
            </li>
            <li class="nav-item logout">
                <a routerLink="">
                    <mat-icon>logout</mat-icon>
                </a>
            </li>
        </ul>
    </nav>
</div>